@import url('https://fonts.googleapis.com/css?family=Lato|Lobster|M+PLUS+1p|Manjari&display=swap');
*{
    color: white;
}
header{
    box-sizing: border-box;
    margin: 2rem 0;
    margin-top: 5rem;
    width: 100vw;
    overflow: hidden;
    font-family: "Lobster";
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
section{
    box-sizing: border-box;
    overflow: hidden;
    text-align: center;
    padding: 1rem;
    font-size: 0.8rem;
    margin: 2rem 0;
    width: 100vw;
    font-family:  'M PLUS 1p', sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
section textarea{
    background: white;
    color: #444;
    font-weight: 300;
    font-family: "Lato";
    margin: 2rem 0;
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0px 2px 4px #00000044;
}
section button{
    width: 100%;
    padding: 1rem 0;
    box-shadow: 0px 2px 4px #00000044;
    border: 0;
    background: white;
    color: #FF8B00;
    font-family: "Manjari";
    font-size: 1rem;
    border-radius: 2rem;
}

footer{
    font-family:  'M PLUS 1p', sans-serif;
    font-size: 0.7rem;
    color: white;
    text-align: center;
}

.float{
    position: fixed;
    top: 1.2rem;
    left: 1.2rem;
    
}
.float img{
    width: 2rem;
}


.alert{
    color: white;
    margin-top: 2rem;
    border-radius: 4px;
    padding: 0.4rem;
    box-shadow: 0px 0px 3px white;
}

.alert-success{
    border: 2px solid #116311;
    background: #116311;
}
.alert-danger{
    border: 2px solid red;
    background: red;
}