<header>
Avis Anonymes
</header>
<section>
  <h3>Quelque chose à dire sur <em>La Mater Service</em> ? <br>Laisses ton avis de façon anonyme.</h3>
  <form class="text-left" (ngSubmit)="OnSubmit(f)" #f="ngForm">
    <div class="alert alert-danger" *ngIf="errorMessage" role="alert">
      {{ errorMessage }}
    </div>
    <div class="alert alert-success" *ngIf="successMessage" role="alert">
      {{ successMessage }}
    </div>
    <textarea ngModel placeholder="Entrez votre message ici ..." name="avis" id="" cols="30" rows="10"></textarea>
    <br>
    <button type="submit" class="btn">Envoyer</button>
  </form>
</section>
<footer>
Copyright &#169; <a href="https://lamaterservice.com">La Mater Service</a> 2019.
</footer>
<a href="https://lamater.net" class="float">
  <img src="https://djopa.fr/lamater/la mater.png" alt="" class="floating">
</a>